# Gradle
.gradle/
build/
**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Android Studio / IntelliJ
*.iml
.idea/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_

# Kotlin
*.class

# OS
.DS_Store
Thumbs.db
